@import '../../assets/variables.scss';

.cart-widget {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .cart-icon {
        color: $secondary-color;
        font-size: 28px;
    }

    span {
        color: $dark-color;
        font-size: 20px;
    }
}