@import '../../assets/variables.scss';



  
 .gretting {
    color: $primary-color;
    font-size: 40px24px;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 20px;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
 
  }


 
  .list-container__title {
    color: $primary-color;
    margin: 2rem;
   
}