@import '../../assets/variables.scss';

.row{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
        .col-md-3{
            max-height: 100%;
            border: solid $secondary-color;
            gap: 1rem;
            padding: 0;
           
            .my-custom-button{
                color: rgb(255, 251, 251);
                background-color: black;
                border: solid $secondary-color;
                margin-top: 1rem;
                min-width: 100px;
            }
        }
}
