@import '../../assets/variables.scss';

.row{
    gap: 0.5rem;
    padding: 1rem;
        .col-md-3{
            border: solid $secondary-color;
            gap: 1rem;
        
            padding: 0;
            .my-custom-button{
                color: rgb(255, 251, 251);
                background-color: black;
                border: solid $secondary-color;
            
            }
        }
}
