@import '../../assets/variables.scss';

.header {

        background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); 
       
        border: solid $secondary-color;
         .header__container {
               max-width: 900px;
               margin: 0;
               height: 100px;
               display: flex;
               justify-content:space-between ;

               align-items: center;
                
               .header__logo{
               width: 180px;
               margin: 0;
              }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .navbar__link {
                font-size: 20px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 700;
                color: $secondary-color;
                margin: 0;
             }
             }
        }
}
