@import '../../assets/variables.scss';


.footer {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); 
    border: solid $secondary-color;
    // height: 60px;
  
    // left: 0;
    // bottom: 0;
    // width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;

     .footer__container {
      
           max-width: 900px;
           margin: 0;
           height: 60px;
           display: flex;
           justify-content:space-between ;
           align-items: center;

           .redes__iconos {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .redes__iconos i {
            font-size: 1.5rem;
            margin: 0 0.5rem;
            color: #333;
          }
          
          .redes__iconos i:hover {
            color: #fff;
          }
          
           
}
}